.text-editor {
  height: 250px !important;
  padding: 5px 0.75rem !important;
  border-radius: 2px !important;
  border: 1px solid #9e9e9e;
}

.toolbar-editor {
  border: 1px solid #9e9e9e;
}

.quill { 
  height: 20em;
}

.ql-container {
  height: 20em;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: none;
}

.ql-editor {
  cursor: text;
  line-height: 1.42;
  height: 100%;
  outline: none;
  overflow-y: auto;
  padding: 12px 15px;
  tab-size: 4;
  -moz-tab-size: 4;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
}
