.text-editor {
  height: 250px !important;
  padding: 5px .75rem !important;
  border-radius: 2px !important;
  border: 1px solid #9e9e9e;
}

.toolbar-editor {
  border: 1px solid #9e9e9e;
}

.ql-container {
  min-height: 10em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-toolbar {
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom: none;
}